{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
            <h2>Najnovšie články</h2>
            {% for post in posts %}
                <article>
                    <header>
                        <h3>{{ post.title }}</h3>
                    </header>
                    <main class="text-justify">
                        {{ post.intro|safe }}
                    </main>
                    <footer class="float-end">
                        {% if post.body %}
                            <a href="{% url 'post.show' post.slug %}"> zobraziť celý článok</a>
                        {% endif %}           
                    </footer>
                </article>
                <br clear="all">
                <hr>
                {% endfor %}
        </div>
        <div class="col-md-3">
            <h3 class="h3">Novinky:</h3>
            {% for qicknew in qicknews %}
                <div style="font-size: .9em">
                    <span class="fw-bold">{{ qicknew.title }}: </span>
                    {{ qicknew.text }}
                    <p class="card-text text-end fst-italic"><small class="text-muted">{{ qicknew.created_at }}</small></p>
                </div>    
            <hr>
                {% endfor %}
                
        </div>
    </div>
{% endblock %}